@charset "UTF-8";

.operation button{ height:40px }

.operation input{
  height:40px;
  width:300px
}

.float_right{ float:right }
.float_left{ float:left }
.spacer{ clear:both }
.txt_right{ text-align: right }

body{ overflow-y: hidden }
div#search_loading_status{
    left:40%;
    top:40%;
    text-align:center;
    position:absolute;
}

#popup-content{
  color: #333;
  font-size: 125%;
  width: 600px
}

#popup-content h2{
  display: inline;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0
}

#popup-content dl{
  background: #D8E9F5;
  font-size: 120%;
  margin: 0 0 0 auto;
  width: 22em
}

#popup-content dt{
	clear: left;
	float: left;
  text-align: right;
	width: 6em
}

#popup-content dd{
  background: #fff;
	margin-left: 6.25em;
  text-align: right;
}

.pointer_content{
  font-size: 1.25em;
  line-height: 1.4;
  margin-top: 1em
}

.operation{
    width: 100%;
}
/*map control css*/
.map_control_div{
    left:20px;
    top:20px;
    z-index:1;
    position: absolute;
}
#map {
  height: 700px;
  margin-bottom: 1em;
  position: relative;
}
#zoom_slider_control {
  position: absolute;
  left: 13px;
  top: 60px;
}
#zoom_slider_control .ol-control {
  padding: 0px !important;
  width: 18px;
  background-color: transparent;
  background-image: url('../../image/map_control/sliderbar.png') !important;
}
#zoom_slider_control .ol-zoomslider {
  top: 25px;
  height: 204px !important;
}
#zoom_slider_control .ol-control {
  padding: 0px !important;
  width: 18px;
  background-color: transparent;
  background-image: url('../../image/map_control/sliderbar.png') !important;
}
#zoom_slider_control .ol-zoomslider-thumb {
  width: 18px;
  height: 9px;
  margin: 0px;
  background-image: url('../../image/map_control/ZoomHandler.png');
}
#zoom_slider_control .ol-zoom-in {
  padding: 0px !important;
  margin: 0px !important;
  width: 18px !important;
  height: 18px !important;
  color: transparent !important;
  background-image: url('../../image/map_control/zoom-plus-mini.png');
}
#map .ol-zoom .ol-zoom-out {
  margin-top: 204px;
}
#zoom_slider_control .ol-zoom-out {
  width: 18px !important;
  height: 18px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  color: transparent !important;
  background-image: url('../../image/map_control/zoom-minus-mini.png');
}
/*map control css*/
.pointer_image_href  {
    float:right;
}
a.fancybox{
    padding:0px;
    margin: 0px;
    border:0px;
}
#popup-content span{
    word-wrap: break-word;
}
.profile-info-value{
    display:list-item;
}

.pointer_kananame{ font-size: 10px; letter-spacing: 1px }

#Slider:before{
    content: '地図を透明にする';
    position: absolute;
    left: -10em;
    line-height: .75;
}

#Slider:after{
    content: '地図を不透明にする';
    position: absolute;
    right: -11em;
    line-height: .75;
}